<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>kewitter</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section class="main-header">
      <div class="container-top">
        <span class="main-title"><h1>kewitter</h1></span>
        <div class="main-image-top">
          <img src="http://awesomewallpapers.files.wordpress.com/2009/08/voyage-home.png">
        </div>
      </div>
    </section>
    <section class="top-discription">
      <span class="top-discription1"><h2>About kewitter</h2></span>
      <p>
        kewitterは、コミュニケーション用アプリとして作成された、試作アプリです。<br>
        制作期間は約２週間です。
      </p>
    </section>
    <div class="function-container-top">
      <span class="application-discription"><h2>Application</h2></span>
      <div class="top-images">
        <div class="top-image1">
          <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2FlPqmSWM7fBJMoMlTIc2Ap1wVGNridObZmZHnXUM9QiYexrX" %>">
        </div>
        <div class="top-image2">
          <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7g1LdaxmhxyVgO8vFyPK2AbDf9zce-w6Om7JBzKLgzkfzN8uT2A" %>">
        </div>
        <div class="top-image3">
          <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmwzquw1GHROKsjhxxJU-r0D1P7l7DgHYFx7_28YqzPz5KRhyxEw" %>">
        </div>
        <div class="top-image4">
          <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwpBHCC9OyqJOtpAoqZ_sFqbYoPE39q3FC39LSprlj49-A8wl7HQ" %>">
        </div>
      </div>
    </div>
  </body>
</html>