<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="main-header">
    <div class="container">
    <img src="http://awesomewallpapers.files.wordpress.com/2009/08/voyage-home.png">
    </div>
  </section>
  
  <section class="about">
    <h1>About Twitter</h1>
    <p>
       Twitterは、コミュニケーション用アプリとして作成された、試作アプリです。<br>
       制作期間は約２週間です。
    </p>
    <p>
    </p>
  </section>
  <section class="function container-fluid">
    <div class="row">
    <h2>Appreciation</h2>
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2FlPqmSWM7fBJMoMlTIc2Ap1wVGNridObZmZHnXUM9QiYexrX" %>">
            <p></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7g1LdaxmhxyVgO8vFyPK2AbDf9zce-w6Om7JBzKLgzkfzN8uT2A" %>">
            <p></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmwzquw1GHROKsjhxxJU-r0D1P7l7DgHYFx7_28YqzPz5KRhyxEw" %>">
            <p></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwpBHCC9OyqJOtpAoqZ_sFqbYoPE39q3FC39LSprlj49-A8wl7HQ" %>">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>